header {
    color: rgb(80, 0, 177);
    font-size: 250%;
    float: center;
}

li {
  padding: 20px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

ul{
  list-style-type: none;

}

.uopLogo {

  height: 200px;
  width: 335px;
  max-width: 100%;
}

h2 {
  font-size: 250%;
}

button {
  margin-left: .4em;
}

form {
  margin: 0 auto;
  width: 410px;
  padding: 1.5em;
  border: 3px solid purple;
  border-radius: 1em;
}

form div + div {
  margin-top: 1.5em;
}

a {
  font-size: 25px;
}

body {
  border: 5px solid purple;
  font-family: FreeMono, monospace;

}

#brief {
  font-size: 30px;
}


input, textarea {
  font: 1em sans-serif;
  width: 310px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

#listOfDeadlines {
  font-size: 20px;
  text-align: center;
}

textarea {
  height: 4em;
}
