header {
    color: rgb(80, 0, 177);
    font-size: 200%;
    float: center;
}

li {
  padding: 2%;
}

#viewDashboard {
  float: center;
}

label {
  display: inline-block;
  font-size: 120%;
  text-align: right;
}

#imgFooter {
    position: fixed;
    bottom:0;
    left: 0
}

ul{
  list-style-type: none;
}

.uopLogo {
  height: 20%;
  width: 20%;
}

h2 {
  font-size: 180%;
}

button {
  margin-left: .4em;
}

form {
  margin: 0 auto;
  width: 30%;
  padding: 1.5em;
  border: 3px solid black;
  border-radius: 1em;
}

form div + div {
  margin-top: 1.5em;
}

a {
  font-size: 120%;
}

#deadlinesImage {
  width: 5%;
  height: 5%;
}

body {
  font-family: FreeMono, monospace;
}

#brief {
  font-size: 250%;
}

.form {
  font: 1em sans-serif;
  width: 70%;
  box-sizing: border-box;
  border: 1px solid #999;
}

.class:focus {
  border-color: #000;
}

#listOfDeadlines {
  font-size: 20px;
  text-align: center;
  position: relative;

}

textarea {
  height: 4em;
}
